<div class="container">
  <h2>質問詳細</h2>
  <div class="row">
    <div class="col-8">
      <%= link_to member_member_path(@post.member) do %>
        <%= @post.member.name %>
      <% end %>
    </div>
    <div class="col-8">
      <%= @post.title %>
      <%= @post.body %>
      <% if @post.favorited_by?(current_member) %>
        <p>
          <%= link_to member_post_post_favorites_path(@post), method: :delete do %>
            <i class="bi bi-hand-thumbs-up-fill"></i><%= @post.post_favorites.count %>いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to member_post_post_favorites_path(@post), method: :post do %>
            <i class="bi bi-hand-thumbs-up"></i><%= @post.post_favorites.count %>いいね
          <% end %>
        </p>
      <% end %>
      <%= link_to "編集する", edit_member_post_path(@post), class: "btn btn-success" %>
      <%= link_to "削除する", member_post_path(@post), method: :delete, class: "btn btn-danger" %>
    </div>
    <table>
    <% @post.post_comments.each do |post_comment| %>
      <% post_comment_member = post_comment.member %>
      <tr>
        <td>
          <%= link_to member_member_path(post_comment_member) do %>
            <%= post_comment_member.name %>
          <% end %>
        </td>
        <td><%= post_comment.comment %></td>
        <td>
          <% if post_comment.favorited_by?(current_member) %>
            <!-- postの中にpost_commentとpost_comment_favoriteをネストしている為、path先が長くなりdeleteとpostアクションするのにidが2つ必要(@postとpost_comment)-->
            <p>
              <%= link_to member_post_post_comment_post_comment_favorites_path(@post,post_comment), method: :delete do %>
                <i class="bi bi-hand-thumbs-up-fill"></i><%= post_comment.post_comment_favorites.count %>いいね
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to member_post_post_comment_post_comment_favorites_path(@post,post_comment), method: :post do %>
                <i class="bi bi-hand-thumbs-up"></i><%= post_comment.post_comment_favorites.count %>いいね
              <% end %>
            </p>
          <% end %>
        </td>
        <% if current_member == post_comment_member %>
          <td>
            <%= link_to "コメント削除", member_post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </table>
    <%= form_with model:[@post,@post_comment], url: member_post_post_comments_path(@post), local:true do |f| %>
      <%= f.text_area :comment, size:"90x5" %><br>
      <%= f.submit "コメントする" %>
    <% end %>
  </div>
</div>