<div class="container">
  <h2><%= @member.name %>さんのプロフィール</h2>
    <div class="border border-success" style="padding:10px; margin:10px;">
      <div class="col-10">
        <%= attachment_image_tag(@member, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpeg") %>
      </div>
      <div class="col-10">
    	  <h4>ユーザー名</h4>
        <%= @member.name %>
    	  <h4>自己紹介文</h4>
    	  <%= @member.introduction %>
    	</div>
      <%= link_to 'プロフィール情報変更',edit_member_member_path(@member), class: "btn btn-outline-primary btn-block" %>
    </div>
  <h2><%= @member.name %>さんがされた質問</h2>
  <div class="row">
    <table class="table table-hover table-inverse" style="padding:10px; margin:20px;">
    <% @member.posts.each do |post| %>
      <tr>
        <td style="width: 40%">タイトル:
          <%= post.title %>
        </td>
        <td style="width: 20%">投稿日時:
          <%= post.created_at.strftime('%Y/%m/%d/%H:%M') %>
        </td>
        <td style="width: 15%">コメント数:
          <%= post.post_comments.count %>件
        </td>
        <td style="width: 15%">共感した人数:
          <%= post.post_favorites.count %>人
        </td>
        <td style="width: 10%">
          <%= link_to "詳細を見る", member_post_path(post), class: "btn btn-info" %>
        </td>
    <% end %>
</div>